@use "../../../styles/abstracts/color-styles";
@use "../../../styles/main-styles";

@media (max-width: 768px) {
  #header-container {
    display: none;
  }

  #mobile-menu {
    display: flex;
    align-items: center;
    width: 280px;
    height: 60px;
    padding: 0 16px;
    gap: 4px;
    border-radius: 30px;
    border: 1px solid #FFFFFFCC;
    background-color: #FFFFFFCC;
    box-shadow: 0 12px 24px 0 #00073E1A, 0 2px 6px 0 #00073E0D;
    backdrop-filter: blur(20px);

    position: fixed;
    bottom: 31px;
    z-index: 100;

    margin: 0 calc((50% - 140px) / 2);
  }

  .navbar-nav {
    justify-content: space-evenly;
    width: 100%;
  }

  .nav-link {
    padding-right: 0;
  }
}

@media (min-width: 769px) {
  #header-container {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    height: 59px;
    padding-top: 16px;
    padding-bottom: 12px;
    gap: 24px;
  }

  #mobile-menu {
    display: none;
  }

  .nav-link {
    padding-right: 24px;
  }
}

#mobile-menu {

}

#header-container {

}

#create-btn {
  height: 31px;
  border: 1px solid color-styles.$active_blue;
  border-radius: 4px;
  display: flex;
  align-items: center;
  padding: 0 12px;
  margin-left: 24px;
  gap: 4px;
  background-color: color-styles.$bg_grayDark;
  font-size: 13px;
  font-weight: 500;
  line-height: 18px;
  color: color-styles.$active_blue;
}

#time-block {
  display: flex;
  align-items: center;
  width: 71px;
  height: 30px;
  min-width: 30px;
  padding: 4px 6px;
  gap: 4px;
  border-radius: 6px;
  background-color: color-styles.$active_blue;
  box-sizing: border-box;
  box-shadow: 0 5px 10px #334B5526, 0 -1px 4px #324D5912;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  color: color-styles.$white;
}

#messages-block {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 6px;
  border: 0.5px solid color-styles.$divider;
  box-shadow: 0 2px 5px 0 #00000012;
  background-color: color-styles.$white;
}

#task-block {
  height: 30px;
  min-width: 100px;
  max-width: 368px;
  padding: 4px 8px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  gap: 4px;
  border-radius: 6px;
  border: 0.5px solid color-styles.$divider;
  background-color: color-styles.$white;
  box-shadow: 0 2px 5px 0 #00000012;
  overflow: hidden;
  font-size: 13px;
  line-height: 18px;
  color: color-styles.$text-text;
}

.nav-item {
  display: flex;
  padding: 5px 0 5px 24px;
}

.nav-item:first-child {
  padding-left: 0;
}

.nav-item:after {
  content: '';
  width: 1px;
  border-left: 1px solid color-styles.$divider;
}

.navbar-nav {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-link {
  height: 21px;
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 8px;

}

.flex-block {
  display: flex;
}

.menu-text {
  font-size: 14px;
  line-height: 21px;
  color: color-styles.$text-secondary;
}

.right-menu {
  display: flex;
  gap: 12px;
}

.active-link {
  color: color-styles.$active_blue;
}
