<div id="header-container">
  <div class="left-menu flex-block">
    <nav>
      <ul class="navbar-nav">
        <li *ngFor="let option of routes" class="nav-item">
          <a [routerLink]="[option.link]"

             class="nav-link">
            <img ngSrc="/assets/images/icons/{{option.icon}}" alt="" height="16" width="16"/>
            <span class="menu-text inter-text" [routerLinkActive]="['active-link']">{{option.text}}</span>
          </a>
        </li>
      </ul>
    </nav>
    <button id="create-btn" class="inter-text">
      <img ngSrc="/assets/images/icons/add-logo.svg" alt="" height="16" width="16"/>
      <span>Создать</span>
      <img ngSrc="/assets/images/icons/dropdown-arrow.svg" alt="" height="16" width="16"/>
    </button>
  </div>
  <div class="right-menu">
    <div id="time-block" class="inter-text">
      <img ngSrc="/assets/images/icons/clock-logo.svg" alt="" height="16" width="16"/>
      <span>{{time}}</span>
    </div>

    <div id="task-block" class="inter-text">
      <img ngSrc="/assets/images/icons/{{currentTask.icon}}" alt="" height="16" width="16"/>
      <span>{{currentTask.text | slice: 0:40}}...</span>
    </div>

    <div id="messages-block">
      <img ngSrc="/assets/images/icons/messages-logo.svg" alt="" height="18" width="17"/>
    </div>

    <div>
      <img ngSrc="/assets/images/icons/account-logo.svg" alt="" height="30" width="30"/>
    </div>

  </div>
</div>

<div id="mobile-menu">
  <ul class="navbar-nav">
    <li>
      <a [routerLink]="'/projects'" class="nav-link">
        <img ngSrc="/assets/images/icons/projects-logo.svg" alt="" height="20" width="20"/>
      </a>
    </li>
    <li>
      <a [routerLink]="'/current'" class="nav-link">
        <img ngSrc="/assets/images/icons/main-logo.svg" alt="" height="20" width="20"/>
      </a>
    </li>
    <li>
      <a [routerLink]="'/messages'" class="nav-link">
        <img ngSrc="/assets/images/icons/messages-logo.svg" alt="" height="20" width="20"/>
      </a>
    </li>
  </ul>
</div>
