<div id="home">
  <app-header [currentTask]="currentTask"></app-header>
  <div id="main-container">
    <div id="date-container" class="inter-text">
      <h2>Вторник, 27 Октября</h2>
    </div>
    <div class="filters-container">
      <app-filter [control]="product" [choices]="productOptions"></app-filter>
      <app-filter [control]="category" [choices]="categoryOptions"></app-filter>
    </div>
    <div id="boards">
      <div class="flex-block">
        <app-main-board></app-main-board>
      </div>
      <div class="flex-block">
        <app-right-board></app-right-board>
      </div>
    </div>

  </div>
</div>

