@use "../../../styles/abstracts/color-styles";
@use "../../../styles/main-styles";

@media (max-width: 768px) {
  #home {
    padding: 8px 16px 100px 16px;
  }

  #boards {
    display: flex;
    flex-flow: column-reverse;
    gap: 20px;
  }

  #date-container {
    display: none;
  }

  .filters-container {
    display: none;
  }

  .flex-block {
    width: 100%;
  }
}

@media (min-width: 769px) {
  #home {
    padding: 0 40px;
  }

  #boards {
    gap: 32px;
  }

  .filters-container {
    display: flex;
    gap: 12px;
    align-items: center;
  }

  .flex-block {
    width: 50%;
  }
}

#home {

  max-width: 1920px;
  margin: 0 auto;
  border-top: 4px solid color-styles.$active_blue;
  background-color: color-styles.$bg_grayDark;
}

#main-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#date-container {
  height: 34px;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  color: color-styles.$text-primary;
}

#boards {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.flex-block {
  box-sizing: border-box;
  white-space: nowrap;
}

h2 {
  margin: 0;
}
