@use "../../../styles/abstracts/color-styles";
@use "../../../styles/main-styles";

@media (max-width: 768px) {
  .task-title {
    max-height: 63px;
    overflow: hidden;
  }

  .task-route {
    display: none;
  }

  .progress-bar {
    margin-top: 8px;
  }
}

@media (min-width: 769px) {
  .task-route {
    display: flex;
    gap: 6px;
    align-items: center;
    margin-bottom: 6px;
  }

  .progress-bar {
    margin-top: 12px;
  }
}

.task-card {
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  border-radius: 8px;
  border: 1px solid #0000000A;
  box-shadow: 0 3px 10px 0 #263A5B0D;
  background-color: color-styles.$white;
}

.route-item {
  display: flex;
  gap: 6px;
  align-items: center;
  font-size: 14px;
  line-height: 21px;
  color: color-styles.$text-service;
}

.task-header {
  display: flex;
  gap: 8px;
}

.task-title {
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  color: color-styles.$text-primary;
  text-wrap: auto;
}

.task-number {
  font-size: 14px;
  line-height: 21px;
  color: color-styles.$text-secondary;
}

.task-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: relative;
}

.info-container {
  display: flex;
  gap: 12px;
  justify-content: space-between;
  align-items: center;
}

.text-info {
  font-size: 13px;
  line-height: 18px;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 4px;
  width: 100%;
  color: color-styles.$text-secondary;
}

.time-info {
  display: flex;
  gap: 3px;
  align-items: center;
  color: color-styles.$text-service;
}

.progress-bar {
  width: 100%;
  display: flex;
  gap: 6px;
  height: 2px;
}

.progress-stage {
  width: 100%;
}

.ready {
  background-color: color-styles.$green;
}

.work {
  background-color: color-styles.$active_blue;
}

.progress {
  background-color: color-styles.$divider;
}

.paused {
  background-color: color-styles.$text-secondary;
}

.btn-block {
  width: 100%;
  display: flex;
  gap: 12px;
  align-items: center;
}

.fix-btn {
  border: 1px solid #CE00001A;
  background-color: #CE00000D;
  color: color-styles.$red;
}

.fix-btn:hover {
  background-color: #CE000033;
}

.work-btn {
  background-color: #16A4E30D;
  border: 1px solid #16A4E31A;
  color: color-styles.$active_blue;
}

.work-btn:hover {
  background-color: #16A4E333;
}

.accept-btn {
  background-color: #1BBA690D;
  border: 1px solid #1BBA691A;
  color: color-styles.$green;
}

.accept-btn:hover {
  background-color: #1BBA6933;
}

.pause-btn {
  background-color: #7E7E7E0D;
  border: 1px solid #7E7E7E1A;
  color: color-styles.$text-secondary;
}

.pause-btn:hover {
  background-color: #7E7E7E33;
}

.btn {
  padding: 4px 8px;
  display: flex;
  gap: 6px;
  align-items: center;
  border-radius: 6px;
  height: 44px;
  font-size: 11px;
  line-height: 16px;
}

.small-btn {
  width: 25%;
}

.huge-btn {
  width: 50%;
}

.header-block {
  position: relative;
}

.hidden-route {
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: 0.3s linear;
  box-sizing: border-box;
}

.hidden-btn {
  width: 100%;
  height: 0;
  position: absolute;
  top: 0;
  overflow: hidden;
  transition: 0.3s linear;
  box-sizing: border-box;
  background-color: color-styles.$white;
}

.header-block:hover .hidden-route {
  height: 21px;
}

.task-content:hover .hidden-btn {
  height: 44px;
}

